body {
    background-color: #f0f2f1;
}

ul {
    padding: 0 1.5em;
}

p{
    margin: 0;
}

.bg-blue {
    background-color: #0e778d !important;
}

.custom-container{
    width: 90%;
}

.row {
    width: 100%;
    margin: 0;
}

.nav-brand {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    color: white !important;
    margin: 0 1em;
    font-weight: 600;
}

.nav-item .btn-success {
    border-color: #e9ecef;
    border-radius: 0.6rem;
    padding: 0.2em 0.75em;
}

.home-banner {
    background-image: url('../images/panel.jpeg');
    background-size: cover;
    background-position: top center;
    height: 35em;
}

.custom-banner-link{
    margin-top: 2em;
    background-color: brown;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

.custom-banner-link:hover{
    color: white;
    text-decoration: none;
}

.presentation {
    padding: 1em 1em;
    color: white;
    text-align: center;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation h2{
    font-weight: 900;
}

.presentation .banner-buttom {
    border-color: #e9ecef;
    border-radius: 0.6rem;
    width: 60%;
    border-radius: 1em;
    box-shadow: 4px 4px 3px #00310b78;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
}

.main-container {
    color: #006b82;
    margin-top: 1em;
}

.first-section h3 {
    text-align: center;
    font-weight: 900;
}

.first-section h5 {
    text-align: center;
}

.first-section p {
    margin: 1em;
    text-align: justify;
}

.last-section {
    margin-top: 1em;
    margin-bottom: 2em;
}

.last-section h3 {
    font-weight: 700;
}

.last-section h5 {
    font-weight: 700;
}

.custom-card {
    color: white;
    background-color: #2b7a8a;
    padding: 1em 1em;
    height: max-content;
    box-shadow: 0 6px #003330;
    border-radius: 10px;
}

.last-section .custom-card {
    background-color: #ffa800;
    box-shadow: 0px 6px #402a00c9;
    margin-bottom: 3em;
    color: #3c3c3c;
    height: auto;
}

.last-section .row{
    justify-content: space-around;
}

.cards-section {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.cards-section .custom-card {
    color: white;
    background-color: #00b1a4;
    padding: 2em 1em;
    height: max-content;
    box-shadow: 0 6px #00615a;
    flex: 1;
    height: 10em !important;
}

.cards-section .main-card {
    color: white;
    background-color: #ffa800;
    padding: 1em;
    height: 15em;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0.5em;
    flex: 1.5;
    box-shadow: 0px 6px #402a00c9;
}

.first {
    border-radius: 0.5em 0 0 0.5em;
}

.second {
    border-radius: 0 0.5em 0.5em 0;
}

.cards-section .custom-card h5 {
    text-align: center;
}

.cards-section .custom-card p {
    text-align: justify;
}

.speaker-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.speaker-section .row {
    align-items: center;
}

.speaker-section h4 {
    font-weight: 700;
}

.speaker-section h5 {
    font-weight: 700;
}

.speaker-image {
    background-image: url('../images/dra.png');
    background-size: cover;
    background-position: top center;
    height: 17em;
    width: 100%;
}

.discount-image {
    background-image: url('../images/discount.png');
    background-size: cover;
    background-position: top center;
    height: 19em;
    width: 90%;
    margin-top: 2em;
}

.speaker-list {
    line-height: 1.8em;
}

.content-info-section {
    margin-top: 2em;
    line-height: 1.8em;
}

.content-info-section h3 {
    font-weight: 700;
}

.custom-link-section {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4em;
}

.custom-link {
    width: 60%;
    border-radius: 1em;
    border-color: white;
    box-shadow: 6px 6px 3px #00310b;
    padding: 0.8em 0;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
}

.footer{
    color: white;
    padding: 2em 2em;
}

.footer .container{
    text-align: center;
}

.footer p{
    font-size: 1.2em;
}

.section-icons{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 55%;
    display: flex;
    justify-content: space-around;
}

.section-icons a{
    color: white;
    font-size: 2em;
}

@media(max-width: 768px) {
    body {
        background-color: #f0f2f1;
    }
    .presentation .banner-buttom {
        width: 90%;
        font-size: 1.1em;
    }
    .custom-container{
        display: contents;
    }
    /* cards */
    .cards-section {
        display: flex;
        flex-wrap: wrap;
    }
    .cards-section .custom-card {
        color: white;
        background-color: #00b1a4;
        padding: 2em 1em;
        height: max-content;
    }
    .cards-section .main-card {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .first {
        border-radius: 0 0.5em 0 0.5em;
    }
    .second {
        border-radius: 0.5em 0 0.5em 0;
    }
    /* cards */
    .discount-image {
        width: 100%;
        height: 12em;
    }
    .speaker-image {
        margin-bottom: 1em;
        margin-top: 2em;
    }
    .custom-link {
        width: 100%;
        font-size: 1em;
    }
    .footer p{
        font-size: 0.9em;
    }
}

@media(max-width: 576px) {
    .discount-image {
        width: 100%;
        height: 19em;
    }
}